<h2>Beer Ratings</h2>

<p>
  Total ratings:
  <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= link_to "#{rating.user.username}", user_path(rating.user) %>
    </li>
    <hr/>
  <% end %>
</ul>

<p>
  <%= link_to "Add rating", new_rating_path %>
</p>
